.container {
  display: flex;
  background: #131921;
  justify-content: center;
  min-height: 600px;
}

.subContainer {
  width: 600px;
  align-self: flex-start;
  background: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottomContainer {
  padding: 20px;
  display: flex;
  /* min-height: 500px; */
  flex-direction: column;
  justify-content: space-between;
}

.loaderContainer {
  display: flex;
  align-items: center;
}

.credentials {
  font-size: 20px;
  color: #444;
}

.headingContainer {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
}

.cogIcon {
  font-size: 20px;
  color: #444;
  margin-right: 10px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: #444;
}

.button {
  padding: 10px;
  margin-top: 20px;
  background: orangered;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  cursor: pointer;
}

.label {
  font-size: 20px;
  font-weight: bold;
  color: #444;
}

.input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(170, 164, 164);
  /* border-bottom: 1px solid #ccc; */
}

.line {
  border-bottom: 1px solid #ccc;
  /* padding-bottom: 10px; */
}

.firstIcon {
  margin-right: 5px;
  color: #444;
}

/* .listContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.listContainer:hover {
  opacity: .8;
}

.listHeading {
  font-size: 20px;
  font-weight: bold;
  color: #444;
} */

.icon {
  color: #444;
  font-size: 20px;
}

@media (max-width: 800px) {
  .subContainer {
    width: 95%;
    max-width: initial;
    min-width: initial;
  }
  .container {
    min-height: initial;
  }
}