.mainContainer {
  background: #131921;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logoContainer {
  z-index: 998;
  width: 150px;
}

.logo {
  width: 100%;
}

.navContainer {
  z-index: 999;
  padding: 10px;
  cursor: pointer;
}

.bar {
  background: white;
  height: 2px;
  width: 25px;
  margin-top: 5px;
  transition: ease 0.2s
}

.changeOne {
  transform: translate(0px, 2px) rotate(45deg);
}

.changeTwo {
  transform: translate(0px, -4px) rotate(-45deg);
}

.navPortalContainer {
  overflow: hidden;
  background: #131921;
  width: 100%;
  position: fixed;
  z-index: 997;
  top: 0;
  color: white;
  font-size: 20px;
  justify-content: center;
}

.linkContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.animatedLinkContainer {
  padding: 10px;
}

.link {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

.active {
  color: #ff9f00;
}

.link:hover {
  color: #ff9f00;
}

.fixed {
  overflow: hidden;
  position: fixed;
  width: 100%;
}