.test1 {
  position: sticky;
  top: 0;
}

.test2 {
  position: sticky;
  position: -webkit-sticky; /* Safari */
}

.scrollDownContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #444;
}

.ourServicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  background: #f1f1f1;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15);
  width: 100%;
  padding: 10px;
}

.ourServices {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #444;
  margin-top: 20px;
}

.line2 {
  border-bottom: 2px solid #ff9f00;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.scrollDown {
  /* position: fixed; */
  /* bottom: 0; */
}

.test {
  height: 100px;
}

.description {
  margin-top: 10px;
  font-size: 20px;
  color: #444;
  font-weight: normal;
}

.imageContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.animatedCarContainer {
  position: absolute;
  max-width: 500px;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500px;
}

.anchor {
  background: red;
  height: 10px;
  width: 100%;
}

.sections {
  height: 400px;
  margin-bottom: 10px;
}

.descriptionContainer {
  position: absolute;
  max-width: 600px;
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #333;
}

.bottomDescription {
  color: #444;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.lineContainer {
  display: flex;
  justify-content: center;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.learnMore2Container {
  display: flex;
  justify-content: flex-end;
}

.learnMore2 {
  margin-top: 20px;
  color: #ff9f00;
  text-decoration: none;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.learnMore2:hover {
  opacity: .8;
}

.rightIcon {
  font-size: 16px;
  margin-left: 10px;
}

.testing {
  position: fixed;
  color: white;
  padding: 20px;
  top: 0;
  z-index: 999;
  background: black;
}

@media (max-width: 800px) {
  .heading {
    font-size: 40px;
    text-align: center;
  }
  .image {
    width: 100%;
  }
  .headingContainer {
    height: auto;
  }
  .description {
    text-align: center;
  }
  .learnMore {
    text-align: center;
  }
  .title {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 35px;
  }
  .bottomDescription {
    font-size: 25px;
  }
  .sections {
    height: 600px;
  }
}